/* General Styles */
.navbar__container {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
}

.left__container,
.right__container {
  display: flex;
  align-items: center;
}

.left__btn__container {
  margin-left: 1.5rem;
  display: flex;
  gap: 1rem;
}

.right__container {
  gap: 0.75rem;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: rgb(187, 186, 186);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: white;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/* Mobile-First Design */
@media only screen and (max-width: 600px) {
  .navbar__container {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align to the left */
  }

  .left__container {
    width: 100%;
    justify-content: space-between; /* Logo on one side, buttons on the other */
    padding-bottom: 10px;
  }

  .left__btn__container {
    gap: 0.5rem;
  }

  .right__container {
    display: flex;
    flex-direction: row; /* Stack links vertically */
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    width: 100%; /* Full width links */
    padding: 15px 10px; /* Make them easier to tap */
    text-align: center;
  }
}
